.dropdown-container {
    width: $options-input-width;
    height: $input-height-desktop;
    font-family: Nunito Sans Light;
    font-size: $dropdown-font-size;
    margin: $dropdown-margin;
    margin-left: 35px;
    left: $dropdown-displacement-mobile;
    position: relative;

    @include fromTablet {
        left: $dropdown-displacement-fromtablet;
    }

    .dropdown-selected {
        padding-left: $input-container-padding-left;
        @include fullWidthHeight();
        @include displayItems(flex, center, space-between, row);
        box-shadow: $box-shadow-medium;
        border-radius: $input-border-radius;
        padding-right: $options-padding-right;
        box-sizing: border-box;
        /** this is where we implement themes*/
        &.dark {
            background: $darkBlue;
            color: $white;
        }
    }

    .divider {
        height: $divider-height;
        width: $options-input-width;
        padding-left: $input-container-padding-left;
        box-sizing: border-box;
    }

    .dropdown-options {
        padding-left: $input-container-padding-left;
        padding-top: $input-container-padding-left/2;
        padding-bottom: $input-container-padding-left/2;
        box-shadow: $box-shadow-medium;
        border-radius: $input-border-radius;
        width: 100%;
        font-size: $dropdown-font-size;
        position: absolute;
        box-sizing: border-box;
        top: $input-height-desktop + $divider-height;
        left: $dropdown-displacement-fromtablet;
        background: $white;
        /** this is where we implement themes*/
        &.dark {
            background: $darkBlue;
            color: $white;
        }

        .dropdown-single-option {
            font-size: $dropdown-option-font-size;
            padding-top: $options-small-padding;
            cursor: pointer;
            &:hover {
                font-weight: bold;
            }
        }
        .dropdown-single-option-right {
            font-size: $dropdown-option-font-size;
            padding-top: $options-small-padding;
            @include displayItems(flex, center, flex-end, row);
            padding-right: $input-container-padding-left;
            cursor: pointer;
        }
    }
}
