.search-input-container {
    height: $input-height-desktop;
    @include displayItems(flex, center, flex-start, row);
    box-shadow: $box-shadow-large;
    padding-left: $input-container-padding-left;
    border-radius: $input-border-radius;
    font-family: Nunito Sans Light;
    width: $search-input-width-mobile;
    margin-left: 25px;
    margin-bottom: 30px;
    margin-top: 30px;

    &.dark {
        @include darkTheme();
    }

    @include fromTablet {
        max-width: 50%;
        margin-left: $search-input-margin;
        margin-bottom: 0px;
        width: $search-input-width-desktop;
        margin-top: 0px;
    }

    input {
        border: none;
        padding-left: $input-container-padding-left;
        &:focus {
            outline: none;
        }
        &.dark {
            @include darkTheme();
            &::placeholder {
                color: $white;
            }
        }
    }
}
