/** VARIABLES */
@import "./stylesheets/abstracts/_variables.scss";

/** MIXINS */
@import "./stylesheets/abstracts/_mixins.scss";

/** FONTS */

/** Font weight 300 */
@font-face {
    font-family: "Nunito Sans Light";
    src: url("/fonts/Nunito_Sans/NunitoSans-Light.ttf") format("truetype");
}

/** Font weight 600 */
@font-face {
    font-family: "Nunito Sans SemiBold";
    src: url("/fonts/Nunito_Sans/NunitoSans-SemiBold.ttf") format("truetype");
}

/** Font weight 800 */
@font-face {
    font-family: "Nunito Sans ExtraBold";
    src: url("/fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf") format("truetype");
}

/** Components */
@import "./stylesheets/components/_button.scss";
@import "./stylesheets/components/_card.scss";
@import "./stylesheets/components/_searchinput.scss";
@import "./stylesheets/components/_dropdown.scss";
@import "./stylesheets/components/_navigation.scss";
@import "./stylesheets/components/_countrylinkbutton.scss";
@import "./stylesheets/components/_countrylinkbutton.scss";

/** Pages */
@import "./stylesheets/pages/_countrydetails.scss";
@import "./stylesheets/pages/_home.scss";
